<div class="sign-up-container">
    <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
        <p class="existing-user-text">Already have an account? <a routerLink="/sign-in">Sign in</a></p>
      <!-- Email field -->
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" formControlName="email">
        <!-- Error messages for email -->
        <mat-error *ngIf="signUpForm.controls['email'].hasError('required')">
            Email is required
        </mat-error>
        <mat-error *ngIf="signUpForm.controls['email'].hasError('email')">
            Please enter a valid email
        </mat-error>
    </mat-form-field>

    <!-- Password field -->
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" formControlName="password">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <!-- Error messages for password -->
        <mat-error *ngIf="signUpForm.controls['password'].hasError('required')">
            Password is required
        </mat-error>
        <mat-error *ngIf="signUpForm.get('password')?.hasError('minlength')">
          Password must be at least {{ signUpForm.get('password')?.errors?.['minlength'].requiredLength }} characters
      </mat-error>
    </mat-form-field>

    <!-- Confirm Password field -->
    <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm your password" formControlName="confirmPassword">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <!-- Error messages for confirm password -->
        <mat-error *ngIf="signUpForm.controls['confirmPassword'].hasError('required')">
            Confirming password is required
        </mat-error>
        <!-- Custom error message for password match -->
        <mat-error *ngIf="signUpForm.hasError('passwordMismatch')">
            Passwords do not match
        </mat-error>
    </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Sign Up</button>
    </form>
  </div>
  