<div class="sign-in-container">
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
  
  <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
    <p class="existing-user-text"><a routerLink="/sign-up">or Sign up</a></p>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter your email" formControlName="email">
      <mat-error *ngIf="signInForm.controls['email'].hasError('required')">
        Email is required
      </mat-error>
      <mat-error *ngIf="signInForm.controls['email'].hasError('email')">
         Please enter a valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" formControlName="password">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
       <mat-error *ngIf="signInForm.controls['password'].hasError('required')">
        Password is required
      </mat-error> 
    </mat-form-field>

    <!-- Sign-in Error Message -->
    <div *ngIf="signInError" class="error-message">
      {{ signInError }}
    </div>

    <button mat-raised-button color="primary" type="submit">Sign In</button>
  </form>
</div>
